.ogtree {
  margin: 2.5em auto 2.5em 2.5em;
  padding-left: 1.5em;
  font-size: 22.5px;
  border-left: 12px solid #7d7d7d;
  border-bottom: 12px solid #7d7d7d;
}
.ogtree,
.ogtree div {
  clear: both;
  float: left;
  margin-right: auto;
  width: auto;
}
.ogtree .ogtree {
  font-size: 20.5px;
  border-left: 10px solid #646464;
  border-bottom: 10px solid #646464;
}
.ogtree .ogtree .ogtree {
  font-size: 18.6px;
  border-left: 8px solid #4b4b4b;
  border-bottom: 8px solid #4b4b4b;
}
.ogtree .ogtree .ogtree .ogtree {
  font-size: 16.9px;
  border-left: 6px solid #323232;
  border-bottom: 6px solid #323232;
}
.ogtree .ogtree .ogtree .ogtree .ogtree {
  font-size: 15.4px;
  border-left: 4px solid #191919;
  border-bottom: 4px solid #191919;
}
.ogtree .ogtree .ogtree .ogtree .ogtree .ogtree {
  font-size: 14px;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
}
.ogtree a:link,
.ogtree a:visited {
  text-decoration: none;
}
.ogtree-leaders {
  font-weight: bold;
}
.ogtree-leader-titles:after {
  content:":"
}
.ogtree-title {
  position: relative;
  top: -1.5em;
  left: -4em;
  font-weight: bolder;
  height: 0;
}
.ogtree-body {
  margin-left: 3em;
}
.ogtree .ogtree-body .ogtree-body-value {
  float: left;
  clear: none;
  padding-left: 1em;
  line-height: 1.1em;
}
